.intro-quote {
    font-size: 2.1em; 
		margin-bottom:0.5%;
		margin-top:0%;
		text-shadow: 3px 3px #000000;
}

.needtoknow-container {
	padding: 1.6em 0.9em 1.6em 0.9em;
}

a#needtoknow {
    font-size: 1.2em;
}

a#needtoknow2 {
    font-size: 1.2em;
}

.inner-nav a, .inner-nav-white a {
    font-size: 1.05em;
}

.inner-logo {
    width: 20%;
}

.intro-text-box {
    font-size: 1.7em;
    width: 55%;
	text-shadow: 3px 3px #000000;
}

.intro-quote-author {
    font-size: 1.9em;
	text-shadow: 1px 1px #000000;
}

.message-snippet-heading {
    font-size: 2.5em;
}

.message-snippet-text {
    font-size: 1.5em;
}

.section-header {
    font-size: 6.8em;
    margin-bottom: 4%;
}

.section-text {
    font-size: 1.9em; 
    width: 60%;
}

.stat-text {
    font-size: 1.08em;
}

.inner-quote {
    font-size: 3.2em;
}

.project-headline {
    font-size: 3.5em;
}

.project-text {
    font-size: 1.6em;
    line-height: 120%;
    width: 37%;   
}

.copyright, .credit {
    font-size: 0.85em;
}

.aboutme-text {
    font-size: 1.3em;
    line-height: 125%;
}